{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{% static './css/estilo.css' %}" >
    <title>Podoguia</title>
</head>
<body>
    <header class="content">
        <div class="logo">
            <img src="{% static "img/img/logo_podo.png" %}" alt="logotipo">
            <h3></h3>        
        </div>
        <nav>
            <ul class="list-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#sobrenos">Sobre nós</a></li>
                <li><a href="#podologos">Podologos</a></li>
                <li><a href="#contatos">Contato</a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                
            </ul>
        </nav>
    </header>
    <section class="first-section">
        <div class="conteudo-principal">
            <h1>Podoguia</h1>
            <h2>Seus pés em boas mãos!</h2>
            <div class="btn">
                <button class="reservar">Marque seu horario!</button>
               
            </div>
        </div>
    </section>
    <section class="card"  id="podologos">
        <div class="podologo">
            <h2>Podologos</h2>
            <h3>Confira todos nossos serviços. Agendamento pelo whatssap rápido e prático!</h3>
        </div>

    </section>
    
    <section class="podologo">
       
            <div class="itens-podologo">
                {% for podologo in podologos %} 
                    <div class="itens-podologo">
                        <img src="{{ podologo.avatar.url }} " alt="" />
                        <div class="info">
                            <h3>{{ podologo.nome }}</h3>
                            <button class="pedir"><a href="{% url 'detalhar' podologo.id %}">Confira</a></button>
                        </div>
                    </div>   
                {% endfor %}     
            </div>
            
        
    </section>
    
    <section class="sobre-nos" id="sobrenos"> 
        <div class="main">
            <div class="contentsobre">
                <h2>Sobre nós</h2>
                    <p>O termo “podologia” tem sua origem na junção de duas palavras gregas: “podos”, que significa “pés”, e “logos”, que pode ser traduzido como “estudo” ou “ciência”. Portanto, a palavra “podologia” pode ser entendida como o estudo ou a ciência dos pés.

                        Essa denominação reflete a natureza da profissão, que se dedica ao estudo, diagnóstico, prevenção e tratamento das diferentes condições e doenças que afetam os pés. A podologia engloba uma ampla gama de conhecimentos e técnicas especializadas para cuidar da saúde e do bem-estar dos pés, abordando aspectos como a anatomia, fisiologia, biomecânica e patologias relacionadas aos membros inferiores.
                        
                        É importante ressaltar que o termo “podologia” é utilizado para denominar essa área de atuação em diversos países ao redor do mundo, embora em alguns lugares possa ser conhecida por outros nomes, como “quiropodia” ou “podiatria”.</p>
                    
            </div>     
            <div class="img-cozinha">
                <img src="{% static './img/img/podologia2.jpg' %}" alt="podologia">
            </div>
        </div>    
    </section>  

    <section class="contatos" id="contatos">
        <h3>Contatos</h3>
        <div class="contatos-secao">
            <div>
                <i class="fas fa-phone"></i>
                <span>(86) 98888-5555</span>
            </div>
            <div>
                <i class="bi bi-instagram"></i>
                <span>@Podoguia</span>
            </div>
        </div>
    </section>
    <footer>
        <h4>Desenvolvido por: Rosirene Cruz</h4>
    </footer>
</body>
</html>