{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="{% static 'css/estilo.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
   
    <title>Podoguia</title>
</head>
{% block nav %}
<body>
   
      <div style="margin-top: 2rem;"></div>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img href="{% url 'home' %}" src="{% static 'img/img/logo_podo.png' %}"  alt="Logo" width="70" height="70" class="d-inline-block align-text-top img-home">
      
           </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-home" style="width: 100%; display: flex; justify-content: center;">
              <li class="display-6 nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="display-6 nav-item">
                <a class="nav-link" href="#sobrenos">Sobre nós</a>
              </li>
              <li class="display-6 nav-item">
                <a class="nav-link" href="{% url 'listarpodog' %}">Podologos</a>
              </li>
              <li class="display-6 nav-item">
                <a class="nav-link" href="#contatos">Contato</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
{% endblock nav %}  


{% block content %}
    <section class="first-section">
        <div class="conteudo-principal">
            <img src="{% static 'img/img/logo_podo.png' %}" width="400" heigth="400" alt="logotipo">
            <h2>Seus pés em boas mãos!</h2>
            
                <a class="btn btn-success btn-lg" href="{%  static 'app-release.apk' %}" >Baixe nosso App</a>
            
        </div>
    </section>
    
    <div class="container-fluid p-5 bg-success text-white text-center" id="sobrenos">
      
    
      
    
        <section class="py-5">
          <div class="container px-4 px-lg-5 my-5">
              <div class="row gx-4 gx-lg-5 align-items-center">
                  <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'img/img/podologia2.jpg' %}" alt="..." /></div>
                  <div class="col-md-6">
                       <h1 class="display-6 fw-bolder">Sobre nós!</h1>
                      
                      <p class="display-6">A ideia da criação do Podoguia.com.br consiste em prestar um serviço de guia das podologas que antendam  na região de Teresina 
                        e cidades vizinhas, basta procurar na lista de podologos no campo de busca por cidade, bairro ou zona que encontrará uma podóloga mais próximo de 
                        você prestando os melhores serviços no tratamento para os seus pés.</p>
                      <h1>Confira a nossa lista de Podologos!</h1>
                      <a href="{% url 'listarpodog' %}" class="btn text-white" ><h1>Clique aqui.</h1></a>  
                  </div>
              </div>
          </div>
      </section>  
      </div>
    </div>
  </div>
   
      
      
    
 {% endblock %}
    <section class="contatos" id="contatos">
        <h3>Contatos</h3>
        <div class="contatos-secao">
            <div>
                <h2>Seja um podóloga associado, ligue para:</h2>
                <i class="fas fa-phone"></i>
                <span>(86) 9 9946-94000</span>
            </div>
            <div>
                <i class="bi bi-instagram"></i>
                <span>@Podoguia</span>
            </div>
        </div>
    </section>
    <footer>
        <h4>Desenvolvido por: Rosirene Cruz</h4>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
