{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="{% static 'css/estilo.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
   
    <title>Podoguia</title>
</head>
{% block nav %}
<body>
    <nav class="navbar navbar-expand-lg bg-white d-flex justify-content-around">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img href="{% url 'home' %}" src="{% static 'img/img/logo_podo.png' %}"  alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      
           </a>
          <div class="collapse navbar-collapse mx-auto" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="display-6 mx-auto nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="display-6 mx-auto nav-item">
                <a class="nav-link" href="#sobrenos">Sobre nós</a>
              </li>
              <li class="display-6 mx-auto nav-item">
                <a class="nav-link" href="{% url 'listarpodog' %}">Podologos</a>
              </li>
              <li class="display-6 mx-auto nav-item">
                <a class="nav-link" href="#contatos">Contato</a>
              </li>
              <li class="display-6 mx-auto nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
{% endblock nav %}  


{% block content %}
    <section class="first-section">
        <div class="conteudo-principal">
            <img src="{% static 'img/img/logo_podo.png' %}" width="400" heigth="400" alt="logotipo">
            <h2>Seus pés em boas mãos!</h2>
            
                <a class="btn btn-success btn-lg" href="{%  static 'app-release.apk' %}" >Baixe nosso App</a>
            
        </div>
    </section>
    
    <div class="container-fluid p-5 bg-success text-white text-center" id="sobrenos">
      <h1>Confira a nossa lista de Podologos!</h1>
      <a href="{% url 'listarpodog' %}" class="btn text-white" ><h1>Clique aqui.</h1></a>
    
      
    
        <section class="py-5">
          <div class="container px-4 px-lg-5 my-5">
              <div class="row gx-4 gx-lg-5 align-items-center">
                  <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'img/img/podologia2.jpg' %}" alt="..." /></div>
                  <div class="col-md-6">
                      <h1 class="display-6 fw-bolder">O que faz um Podólogo?</h1>
                      
                      <p class="display-6 lead">O podólogo é um profissional especializado em analisar e tratar os pés, visando prevenir lesões e oferecer orientações sobre os cuidados necessários para manter a saúde dessa região do corpo. Sua principal missão é garantir a saúde dos pés, proporcionando tratamentos eficazes e conhecimentos essenciais aos pacientes.
    
    
    
                        Seu trabalho começa com uma avaliação minuciosa dos pés de seus pacientes. Isso inclui examinar a estrutura física, avaliar a postura e observar quaisquer sinais de problemas, como calosidades, calos, unhas encravadas, verrugas plantares, entre outros.
                        
                        
                        
                        Com base nessas observações, o podólogo pode recomendar tratamentos específicos. Isso pode envolver a remoção cuidadosa de calos e calosidades, muitas vezes utilizando técnicas especializadas e instrumentos esterilizados para garantir a segurança e o conforto do paciente.
                        
                        
                        
                        Outra parte importante da prática de um podólogo é o tratamento de unhas, especialmente em casos de unhas encravadas. Esse procedimento é delicado e requer habilidade para garantir que a unha seja tratada adequadamente, sem causar mais danos.</p>
                                           
                  </div>
              </div>
          </div>
      </section>  
      </div>
    </div>
  </div>
   
      
      
    
 {% endblock %}
    <section class="contatos" id="contatos">
        <h3>Contatos</h3>
        <div class="contatos-secao">
            <div>
                <i class="fas fa-phone"></i>
                <span>(86) 98888-5555</span>
            </div>
            <div>
                <i class="bi bi-instagram"></i>
                <span>@Podoguia</span>
            </div>
        </div>
    </section>
    <footer>
        <h4>Desenvolvido por: Rosirene Cruz</h4>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>