{% extends 'home.html' %}
 
{% block title %}Lista podologo{% endblock title %}

{% block nav %}

<nav class="navbar bg-success">
    <div class="container-fluid">
        
      <a class="navbar-brand text-white"  href="{% url 'home' %}"><h2>Podoguia</h2></a>
      <form method="GET" class="d-flex" role="search">
        <input class="form-control" type="text" id="search"  name="search" placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
        <a href="{% url 'listarpodog' %}" class="btn btn-light">Limpar</a>
      </form>
    </div>
  </nav>

{% endblock nav %}



{% block content %}

<div class="container">

    
        
    <div class="offset-1 col-10 list-div"> 
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">

                    {% for podologo in podologo %}
                        <li class="task-item">
                            <hr>
                            <br>
                            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="{{ podologo.avatar.url}}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <h2>{{podologo.nome}}</h2>
                            <h3>{{ podologo.info}}</h3>
                            <p><a class="btn btn-success btn-gl" href="{% url 'detalhar' podologo.id %}">Ver detalhes</a></p>
                        </li>
                    {% endfor %} 
                   
                </div>
            </div>
           <br>
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    {% if podologo.has_previous %}
                    <a class="page-link" href="?page={{ podologo.previous_page_number }}">Anterior</a>
                    {% endif %}
                  </li>
                  {% if podologo.paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="#"><span class="current">
                    {{ podologo.number }} de {{ podologo.paginator.num_pages }}
                    </span></a></li>
                  {% endif %}
                

                  {% if podologo.has_next %}  
                <li class="page-item">
                    <a class="page-link" href="?page={{ podologo.next_page_number }}">Proximo</a>
                  </li>
                  {% endif %}
                </ul>
            </nav>    
        </div>
    </div> 
</div>
        
</div>
 
{% endblock %}
            
     